/** Define Theme Constants here */
#Constants {
    includeNativeBool: true;
    defaultSourceDPIInt: "0";
}

Form{
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

Navbar {
    background-color: #7092be;
    font-size: 6mm;
}

Container {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: medium;
}

Container2 {
    background-color: #7092be;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: medium;
}

mainC {
    background-color: #7092be;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: medium;
    text-align: center;
}

Statistics {
    font-size: medium;
}

SettingsProfile {
    border-style: solid;
    border-color: black;
}

SettingsDark {
    border-style: solid;
    border-color: black;
}

SettingsLight {
    border-style: solid;
    border-color: black;
}

Label {
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

AchievementButton {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

CAchievementButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

FinishedButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

AddButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

LoginButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

RegisterButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

AddProgram {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

RegisterB {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

/** Style for Button class */
Button {
    font-family: "native:MainLight";
    font-size: 3mm;
    color: black;
}

TrainingLog {
    border-radius: 25px;
    background-color: #7092be;
    text-align: center;
}

/** Style for App Title Bar Text */
Title {
    font-family: "native:MainLight";
    font-size: 6mm;
}

/** Style for Dialog body */
DialogBody {
    font-family: "native:MainLight";
    font-size: 2.8mm;
}

/** Style for Dialog title bar text */
DialogTitle {
    font-family: "native:MainLight";
    font-size: 4.5mm;
}

/** Style for the side menu */
SideNavigationPanel {
    background: white;
    padding: 2mm 1mm 1mm 1mm;
}

@media platform-ios {
    /** iOS Only styles for side menu. */
    SideNavigationPanel {
        /** Extra top padding to deal with notch on iPhoneX */
        padding: 6mm 1mm 1mm 1mm;
    }
}

/** Style for commands in side menu. */
SideCommand {
    padding: 1mm;
    border: none;
    text-decoration: none;
    color: black;
    font-family: "native:MainLight";
    font-size: 4mm;
    border-bottom: 2px solid #cccccc;
}
