/** Define Theme Constants here */
#Constants {
    includeNativeBool: true;
    defaultSourceDPIInt: "0";
}

LoginForm {
    background-color: white;
}

LogForm {
    background-color: white;
}

RegisterForm {
    background-color: white;
}

Statistics {
    font-size: medium;
}

AchievementContainer {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

StatisticsContainer {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

ProfileContainer {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

SettingsContainer {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

ProgramContainer2 {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

Settings1 {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

SettingsProfile {
    border-style: solid;
    border-color: black;
}

SettingsDark {
    border-style: solid;
    border-color: black;
}

SettingsLight {
    border-style: solid;
    border-color: black;
}

mainSC {
    background-color: #7092be;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

mainTS {
    border-radius: 25px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

mainWS {
    border-radius: 25px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

a {
    border-radius: 25px;
    background-color: #7092be;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

b {
    border-radius: 25px;
    background-color: #7092be;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

c {
    border-radius: 25px;
    background-color: #7092be;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

d {
    border-radius: 25px;
    background-color: #7092be;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

e {
    border-radius: 25px;
    background-color: #7092be;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

f {
    border-radius: 25px;
    background-color: #7092be;
    border-style: solid;
    border-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

Navbar {
    background-color: #7092be;
}

ProgramForm {
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

ProfileForm {
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

AchievementForm {
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

CreateForm {
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

MainForm {
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

SettingsForm {
    background-color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

Label {
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
}

AchievementButton {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

CAchievementButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

FinishedButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

AddButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    text-align: center;
}

LoginButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

RegisterButton {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

AddProgram {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

RegisterB {
    background-color: #7092be;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}

/** Style for Button class */
Button {
    font-family: "native:MainLight";
    font-size: 3mm;
    color: black;
}

TrainingLog {
    border-radius: 25px;
    background-color: #7092be;
    text-align: center;
}

/** Style for App Title Bar Text */
Title {
    font-family: "native:MainLight";
    font-size: 6mm;
}

/** Style for Dialog body */
DialogBody {
    font-family: "native:MainLight";
    font-size: 2.8mm;
}

/** Style for Dialog title bar text */
DialogTitle {
    font-family: "native:MainLight";
    font-size: 4.5mm;
}

/** Style for the side menu */
SideNavigationPanel {
    background: white;
    padding: 2mm 1mm 1mm 1mm;
}

@media platform-ios {
    /** iOS Only styles for side menu. */
    SideNavigationPanel {
        /** Extra top padding to deal with notch on iPhoneX */
        padding: 6mm 1mm 1mm 1mm;
    }
}

/** Style for commands in side menu. */
SideCommand {
    padding: 1mm;
    border: none;
    text-decoration: none;
    color: black;
    font-family: "native:MainLight";
    font-size: 4mm;
    border-bottom: 2px solid #cccccc;
}
